header{
    color: #522b5b;
    text-align: center;
    font-size: 40px;
    font-weight: bolder;
}

.users_table{
   padding: 10px;
   margin: 10px;
}

table{
    width: 100%;
    border: 2px solid #2B124C;
    border-collapse: separate;
    border-radius: 12px;
    background-color: #dfb6b2;
    font-size: 14px;
    padding: 10px;
    box-shadow: 0 4px 20px rgb(141, 115, 141)
}

table th{
    padding: 10px;
    background-color: #2B124C;
    border-radius: 12px;
    text-transform: uppercase;
    letter-spacing: 1px;
    color: white;
    text-align: left;
}

table tr:nth-child(even) {
    background-color: rgba(0, 0, 0, 0.03);
}

table tr:hover{
    background-color: #d19792;
    transition: 0.3s;
}

table tr td{
    border-radius: 12px;
}


table td{
    padding: 10px;
    color: #522b5b;
}

.del_btn{
    background: #ffebee;
    border-radius: 12px;
    border: 1px solid #2B124C;
    padding: 5px;
    color: #522b5b;
    cursor: pointer;
}

.del_btn:hover {
    background: #ffffff;
}