body{
    background-color: #fbe4d8
}

h1{
    color: #522b5b;
    text-align: center;
}

.add_form{
    text-align: center;
    background: #dfb6b2;
    margin: 30px auto;
    margin-bottom: 5px;
    max-width: 950px;
    border-radius: 14px;
    padding: 30px;
    border-left: 10px solid #854f6c;
}

h3{
    text-align: center;
}

.tasks_list{
    display: flex;
    gap: 30px;
    justify-content: space-between;
    background-color: #854f6c;
    border-radius: 12px;
    padding: 20px;
}

.task_column{
    flex: 1;
    border-left: 8px solid  #2B124C;
    border-top:  8px solid #2B124C;
    border-radius: 14px;
    background-color: #dfb6b2;
    padding: 10 px;
    font-size: 18px;
}

.add_button{
    border-radius: 14px;
    background-color: #fbe4d8;
    color: #522b5b;
    padding: 10px;
    cursor: pointer;
}

input{
    border-radius: 14px;
    background-color: #fbe4d8;
    color: #522b5b;
    padding: 20px;
}


.delete_button{
    border-radius: 14px;
    background-color: #fbe4d8;
    color: #522b5b;
    padding: 3px;
    margin-left: 5px;
    margin-bottom: 5px;
    cursor: pointer;
}

