{% extends "base.html" %}
{% block content %}
    <link rel="stylesheet" href="{{ url_for('static', filename='focus.css') }}">
</head>
<body>
    
<header>Focus Room</header>
<section class="focus_layout">
    <div class="focus_card">
        <h2>Deep Work Mode</h2>
    </div>  
    
    <div class="focus_card">
        <h2>Quick Notes</h2>
    </div>

    <div class="focus_card">
        <h2>Break Zone</h2>
    </div>

    <div class="focus_card">
        <h2>Quote Section</h2>
    </div>
</section>

{% endblock %}