<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='manage_users.css') }}">
    <title>Manage Users</title>
</head>
<body>
    <header>USERS LIST</header>

    <div class="users_table">
        <table>
            <tr>
                <th>User Name</th>
                <th>Email</th>
                <th>Joined Date</th>
            </tr>
            {% if users %}
                {% for user in users %}
                <tr>
                    <td>{{ user.username }}</td>
                    <td>{{ user.email }}</td>
                    <td>{{ user.joined_date }}</td>
                </tr>
                {% endfor %}
            {% else %}
                <tr>
                    <td colspan="3">No users found</td>
                </tr>
            {% endif %}
        </table>
    </div>

</body>
</html>